<!doctype html>
<html lang="en">
<meta charset="UTF-8">

  <head>
   <title>GKK Open Source</title>
   <link rel="stylesheet" href="ol/ol.css" type="text/css">
   <link rel="stylesheet" href="style.css" type="text/css">
   <link rel="stylesheet" href="bootstrap-3.3.6-dist/css/bootstrap.css" type="text/css">	
   <script src="ol/ol.js" type="text/javascript"></script>	 
   <script src="pdf/tools/jquery-1.11.3.js" type="text/javascript"></script>	
   <script src="bootstrap-3.3.6-dist/js/bootstrap.js"></script>
   <script src="angularjs/angular.js"></script>
   <script src="myApp.js" type="text/javascript"></script>
   <script src="myController.js" type="text/javascript"></script>

		
		<script src="fromphp.js" type="text/javascript"></script>
  
  
  
  </head>
  
  <body style="overflow:hidden;">
    
    <div id="map" class="map">
	
	<!--**************************************-->

			
			<div id="side-bar" > <!--**************************************-->
			
			<a href ="http://www.hs-karlsruhe.de/home.html"><img src="Hska_logo.png"  style="width:48px;height:48px;margin-left:60px ;margin-right:60px;"></a>
			
			
			
			<div id="side-bar-campus" class="side-bar-campus" ng-app="myApp" ng-controller="myCtrl">
				<div id="Campus" onclick="history.go(0)"> Campus</div>
		
				<div id="Buildings" >
				
					<ul class="nav nav-pills nav-stacked" ng-repeat="building in Buildings">
						
						<li id="Building"  ng-click="selectB(building)" ondblclick="history.go(0)"><br>{{building.name}}</br></li>
					</ul>
				</div>
				<div id="Floors" >	
					
					<ul class="nav nav-pills nav-stacked" ng:repeat="floor in selectedB.floors">
						
						<li id="Floor" ng:click="selectF(floor)" ><br>{{floor.id}}</br></li>
					</ul>
				</div>
				
				
				 
				<div id="Rooms" style="display:none;">
					<p  style ="border-bottom: 1px solid  #eeeeee;">Rooms:</p>
					<ul   class="nav nav-pills nav-stacked" ng:repeat="room in selectedF.rooms">
						<li id="Room">{{room}}</li>
					</ul>	
				</div>
				
			</div>
			<!--Coordinates+links-->
			
			<div class="Coordinates">
			<div  class="span6" id="mouse-position">&nbsp;</div>
			<div id="cim" class="cim"></div>
			<div id="text" class="text">Coordinates:</div>	
			</div>
		</div>
		
		<!--**************************************-->

		<div id="search" style="z-index:10000; position:absolute;top:10px;right:10px;">
			<input id="addr" type="text" name="addr" value='' size="10" />
			<button type="button" id="gobutt" onclick="keres()">Search</button>
			<div id="results" /></div>
		</div>
		
		<button id="button" class="pdf_button" ><a id="printbtn" onclick="prntList()"><img src="pdf.png"  ></a></button>
		<button id="button" class="geopdf_button" onclick="on_off('geo-panel')"><img src="GeoPDF.png"  ></button>
<div id="geo-panel">
			<iframe id="my_iframe" style="display:none;"></iframe>
			<p>Choose the layers and press download!</p>

		<div id="epuletek">Buildings<br>
		<div id="ho-b">HO Building<br>
<div class="ho_c"><input id="chk2"  type="checkbox" name="chk1" value="chk" onclick="on_off('alarm1'),on_off('ps1')">Ground floor rooms<br></input></div>
<div id="alarm1" class="ho_c_a"><input id="chk7"  type="checkbox" name="chk1" value="chk">Ground floor alarms<br></input></div>
<div id="ps1" class="ho_c_a"><input id="chk8"  type="checkbox" name="chk1" value="chk">Ground floor Power Sockets<br></input></div>
<div class="ho_c"><input id="chk3"  type="checkbox" name="chk1" value="chk">First floor rooms<br></input></div>
<div class="ho_c"><input id="chk4"  type="checkbox" name="chk1" value="chk">Second floor rooms<br></input></div>		
			</div>

			<div id="R-b">R building<br>
			<div class="ho_r"><input id="chk5" type="checkbox" name="chk1" value="chk">Ground floor rooms<br></input></div>
			<div class="ho_r"><input id="chk6" type="checkbox" name="chk1" value="chk">First floor rooms<br></input></div>
			</div>
			<div id="build_all" style="position:relative;left:20px;"  >
			Building base
			<input id="chk1" style="margin-left:5px;"type="checkbox" name="chk1" value="chk"></input>
			
			</div>
			</div>
			
			<a href="pdf/GKK_Geopdf.pdf" download onclick="ex(),geopdf()">Download</a>
			
		</div>
		
		<div id="csuszi" class="csuszi">
		<form>
		<input id="ep-opac" name="foo" type="range" min="1" max="3" step="1" value="1" oninput="setVal(this.value),csuszka()"></input>
			</form>
			</div>
    <div id="emeletek_label">Floors</div>
		
		
	
	</div>
		
	
	<script src="ol/app.js" type="text/javascript"></script>
  <script src="ol/layers.js" type="text/javascript"></script>
	<script src="ol/print.js" type="text/javascript"></script>
	<script src="Tab_Functions.js" type="text/javascript"></script>
	<script src="Accordion.js" type="text/javascript"></script>
	<script src="pdf/gkk_pdf_v1_0.js" type="text/javascript"></script>
	
	
	
  </body>
</html>
