@media mobiles (max-width:768px){ 
	#sidebar{width:20%;} 	
	}

@media tablets (min-width:768px)and(max-width:992px){ 
	#sidebar{width:20%;}
}

@media tablets (min-width:992px){ 
	#sidebar{width:20%;}
} 
	
	
#map {
		position:absolute;
		left:0px;
		top:0px;
		p:0px;
		height: 100%;
		width: 100%;	}
		
	.cim{
		font-size:11px;
		position: absolute;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		
		z-index:1000;}
		
 	.span6{
		z-index:400000;
		position: absolute;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		color:white;
		font-size:11px;}
		
	.text{
		z-index:20000;
		font-size:11px;
		position:floating;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
		color:white;}	
		
	.map:-moz-full-screen {
		height: 100%;}
	.map:-webkit-full-screen {
		height: 100%;}
	.map:fullscreen {
		height: 100%;}
	.ol-rotate {
		top: 3em;}
	.layerselect{
		position: absolute;
		top:10px;
		right:70px;
		z-index:500000}




.csuszi{
		position:absolute;
		height:22px;
		right:10px;
		width:200px;
		top:100px;
		z-index:100000;
		background-color:#DB0031; 
		opacity: 1;
		color:white;
		border-radius:25px;
		padding-left:10px;
		padding-right:10px;
		padding-top:7px;
		padding-bottom:2px;
		cursor:pointer;
			}
			
	#emeletek_label{
		right:10px;	
		position:absolute;
		top:75px;
		font-size: 18px;
		font-family: 'Roboto', sans-serif;
		height:45px;
		border-radius:15px;
		width:70px;
		padding-left:10px;
		padding-bottom:5px;
		z-index:10000;
		background-color:#DB0031; 
		opacity: 1;
		color:white;
		cursor:pointer;
		}
		
	#geo-panel{
		overflow-y:hidden;
		overflow-x:hidden;
		z-index:100000;
		display:none;
		position:absolute;
		top:50%;
		left:50%;
		margin-left:-150px;
		margin-top:-150px;
		height:320px;
		width:300px;
		border-radius:25px;
		background-color:#DB0031;
		opacity:0.9;
		color:white;
		padding-top:25px;
		padding-left:25px;			
a {color:white}			}
a:link{color:white;}
a:visited{color:white;}
a:hover{color:white;}
a:active{color:red;}
		
	#addr{border:none;}
	#gobutt{
		height: 25px;
		color:white;
		background-color:#DB0031;
		border:none;
				
		}
 		
/*Side Bar*/

.Coordinates{
position: absolute;
margin-top:10px;
left:10px;
bottom:10px;
width:150px;


}

#Campus{
	margin-left: 2px;
	margin-right:0px;
	margin-bottom:10px;
	margin-top:2px;
    padding: 2px;
    font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding: 2px;
	background-color:white;
	border-radius:4px;
	color: #0d0d0d;
	text-align: center;
	opacity: 0.97; 
	z-index: 1;
	
}
 #side-bar{
	position:absolute; 
	left:0px;
	top:0px; 
	width:200px; 
	height:100%; 
	background-color:#DB0031; 
	opacity: 0.96;
	z-index:100000;
}
 
.side-bar-campus{
	position:floating; 
	margin-left:10px;
	margin-bottom:10px;
	margin-top:12px;
	margin-right:10px;
	background-color:#DB0031; 
	opacity: 0.96;
	z-index:100000;
	height:80%;
	
	
}

.side-bar-campus div{
	margin-left: 2px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:2px;
    padding: 2px 0;
    font-family: Roboto, sans-serif;
	font-weight: 400;
	font-size: 14px;
	padding: 2px;
	background-color:#fafafa;
	border-radius: 4px;
	color: #1a1a1a;
	text-align: center;
	cursor:pointer;
	
}

.side-bar-campus div ul  {
	
	font-size: 13px;
	cursor:pointer;
	background-color:white;
	text-align: center;
	margin: 4px;
	border-radius: 6px ;
	}




/*Buttons*/

.pdf_button{
position:absolute;
 right:10px;
 bottom:10px; 
 width:60px; 
 height:60px; 
 opacity: 1;
z-index:100000;
}
	
.geopdf_button{
	position:absolute; 
	right:70px;
	bottom:10px; 
	width:60px; 
	height:60px; 
	opacity: 1;
	z-index:100000;
	
}

#button{
	z-index:100000;
	opacity: 1;
	background-color:#DB0031;
	border-radius: 10px 10px 0 0;
	}



.pdf_button  > img{
	width:40px;
	height:40px;
	position:relative;	
}

.geopdf_button  > img{
	width:50px;
	height:50px;
	position:relative;
	
}

xmp{ white-space:pre-wrap; word-wrap:break-word; }

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
	border-width:2px;
	border:solid;
	border-color:#fff;
    background-color:#DB0031;;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}
input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-ms-fill-lower {
	background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-ms-fill-upper {
	background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
	border-width:2px;
	border:solid;
	border-color:#fff;
    background-color: rgba(120,185,187,1);
    margin-top: -4px;
}
input[type=range]:focus ::-ms-fill-lower{
    outline: none;
}

input[type=range]:focus::-ms-fill-upper {
    background: #fff;
}
input[type=range]::-moz-range-track {
    width: 190px;
    height: 3px;
    background: #fff;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    border: none;
    height: 6px;
    width: 6px;
    border-radius: 50%;
	border-width:1px;
	border:solid;
	border-color:#fff;
    background-color: rgba(120,185,187,1);
    margin-top: -4px;
	}	
	
input[type=range]:-moz-focusring {
    outline: none;
}
input[type=range]:focus::-moz-range-track {
    background: #fff;
}

#ho-b{
margin-left:10px;
position:relative;
padding-left:10px;
}
.ho_c{position:relative;left:15px;padding-left:15px;}
.ho_r{position:relative;left:15px;padding-left:15px;}
.ho_c_a{display:none;position:relative;left:35px;padding-left:15px;}

#R-b{
position:relative;

margin-left:10px;
padding-left:10px;}


